@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Rum+Raisin&display=swap');

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

:root{
    /* CSS HEX */
    --brown: #A63911ff;
    --sunglow: #FECA26ff;
    --pear: #B5D326ff;
    --safety-orange: #EE7718ff;
    --engineering-orange: #CB0300ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: "Rum Raisin", sans-serif;
}
@keyframes top{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes left{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes right{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes down{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


header{
    padding: 20px 50px;
    background:var(--sunglow);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    animation: left 1s ease-in-out forwards;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    list-style: none;
    margin: 0 15px;
    animation: top 1s ease-in-out forwards;
    transition: all .5s ease-out;
}
.nav .item ul li:hover{
    transform: translateY(-5px);
}
.nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.nav ul li:hover{
    transform: translateY(-5px);
}

.search-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#searchForm {
    animation:right 1s ease-in-out forwards;
}
#searchForm #searchInput{
    height: 100%;
    padding: 15px 50px 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;

}
#searchForm img{
    width: 32px;
    transform:translate(-55px,10px);
    cursor: pointer;
}

#searchInput::placeholder{
    color: var(--brown);
}
.btn{
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 30px;
    background: var(--safety-orange);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    animation: right 1s ease-in-out forwards;

}

.container{
    width: 100;
    height: 650px;
    padding: 50px 100px 0;
    text-align: center;
    opacity: 0;
    animation: down 1s ease-in-out forwards;
    overflow: hidden;
}
.container h2{
    font-size: 100px;
    font-weight: 200;

}
.container p{
    font-size: 20px;
    margin: 20px 0;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}





.About-TSB{
    width: 100%;
    height: 100vh;
    background-color:white;
}
.content{
    width: 100%;
    height: 100vh;
    padding: 100px 150px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.image ,
.Description{
    width: 50%;
    height: 100%;
}

.image img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.Description h2{
    margin-top: 70px;
    font-size: 80px;
    font-weight: 700;
    color: var(--sunglow);
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}
.Description p{
    font-size: 20px;
    margin-top: 20px;
}

.border{
    width: 40%;
    height: auto;
    background: var(--sunglow);
    padding:50px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.text{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;

}

.text h4{
    font-size: 25px;
    margin-bottom: 5px;

}
.text p{
    font-size: 18px;

}

.one button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right:20px ;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 30px;
}


.menu{
    width: 100%;
    height: 100vh;
    background: var(--sunglow);
}

.img-menu{
    width: 250px;

}

.img-menu img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.matn-menu{
    transform: translateY(-35px);
    width: 100%;
    height: 150px;
    background: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.matn-menu h2{
    margin-top: 10px;
    font-size: 21px;
}
.matn-menu p{
    margin-top: 10px;
    line-height: 17px;
}
#matn h2{
    margin-top: 20px;
    font-size: 100px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#matn p{
    margin-top: 10px;
    line-height: 17px;
}

#btn{
    margin-top: 20px;

}

.person{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.person h2{
    text-align: center;
    font-size: 80px;
    color: var(--sunglow);
    margin-top: 10px;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5) ;
}

.contact{
    height: 100vh;
    width: 100%;
    background: var(--sunglow);
    text-align: center;
    justify-content: center;
    padding: 120px 0;

}

.contact h2{
    font-size: 100px;
    margin-bottom: 50px;

}
.contact h3{
    margin: 15px 0;
    font-size: 30px;

}
.contact p{
    margin-bottom: 30px;
    font-size: 18px;

}

